<html>
<body>
  <form action="formsubmission" method="post">
      Input Quanity to Order more Coffee.
    <table>
       <tr><td>Americano: <input type="hidden" name="code" value="100"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td>Brewed Coffee: <input type="hidden" name="code" value="200"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td>Cappuccino: <input type="hidden" name="code" value="300"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td>Espresso: <input type="hidden" name="code" value="400"><input type="text" name="qty" value="1"/></td></tr>
       <tr><td><a href="/cart">Back to Cart</a></td></tr>
       <tr><td colspan="2"><a href="/cart"><input type="submit" value="ADD TO CART"/></a></td></tr>
    <table>
  </form>
</body>
</html>

